.totalQuiantityDiv {
    bottom: 3rem;
    right: 3rem;
    font-size: 3;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px #b1b1b1;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .3s linear;
    color: black;

}
.totalQuiantity {
    position: absolute;
    bottom: 4.3rem;
    right: 2.5rem;
    background:rgba(147, 19, 245, 0.5);
    width: 2rem;
    height: 2rem;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
